H6{
    color: rgb(0, 0, 0);
    
    font-size: 12PX;
    background-color: white;
    background: linear-gradient(45deg, orange, red);
    border: 4px 

}
h1 { border: 8px solid rgb(159, 21, 21); }
h2 {border:15px solid rgb(105, 175, 39);}
h3 { border: 53px solid rgb(0, 21, 255);}
H5  { border: 25px solid rgb(0, 255, 17);}
h4 { BORDER: 30px solid rgb(163, 128, 152);}
   